body {
    background-color: black;
}

h1,
h3 {
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    text-align: center;
}

h3 {
    font-size: 150%;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    margin: 5%;
    height: 30%;
    width: 25%;
}